body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
        "header header"
        "nav contents"
        "footer footer";
}
header {
    grid-area: header;
    background-color: #333333;
    color: #f0f0f0;
    text-align: center;
    width: 100%;
    padding: 16px;
}
main {
    grid-area: contents;
    background-color: #555555;
    color: #f0f0f0;
}
nav {
    grid-area: nav;
    background-color: #444444;
    color: #f0f0f0;
}
footer {
    grid-area: footer;
    background-color: #333333;
    color: #f0f0f0;
    text-align: center;
}
