body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 4rem 1fr 4rem;
    grid-template-columns: 1fr 7fr;
    grid-template-areas:
        "header header"
        "nav contents"
        "footer footer";
}
header {
    grid-area: header;
    background-color: #333333;
    color: #f0f0f0;
    text-align: center;
    margin-top: -1rem;
    margin-left: -1rem;
}
main {
    grid-area: contents;
    background-color: #555555;
    color: #f0f0f0;
    padding: 1rem;
}
nav {
    grid-area: nav;
    background-color: #444444;
    color: #f0f0f0;
    text-align: end;
    padding: 1rem;
    margin-left: -1rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: block;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
nav ul li a {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}
nav ul li a:hover {
    color: #108bff;
}
footer {
    grid-area: footer;
    background-color: #333333;
    color: #f0f0f0;
    text-align: center;
    margin-left: -1rem;
    margin-bottom: -1rem;
}
